/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.page-template-about {
	overflow-x: hidden;
}


.page-template-about .site-header {
	background-color: transparent;
}

.page-template-about section {
	width: 100vw;
	height: auto;
	padding: 10vh 8vw;
}

.page-template-about #one {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 20px;
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.page-template-about .hero-text {
	grid-column-start: 3;
	grid-column-end: 7;
}

.page-template-about .paragraph {
	margin-top: 50px;
	/* font-size: 20px;
	line-height: 32px; */
}

.page-template-about #blockScroll {
	position: relative;
	padding: 0 8vw;
}

.page-template-about #two {
	padding: 2vh 2vw;
}

.page-template-about #two img {
	border-radius: 3rem;
}

.page-template-about #three,
.page-template-about #five {
	height: calc(100vh - 70px);
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.page-template-about #three .header,
.page-template-about #five .header {
	padding-right: 50%;
}

.page-template-about #three .paragraph,
.page-template-about #five .paragraph {
	padding-right: 25%;
}

.page-template-about #three .image,
.page-template-about #five .image {
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
}

.page-template-about #four {
	height: calc(100vh - 70px);
}

.page-template-about #four .two-columns-text {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 20vh;
	padding-bottom: 5vh;
}

.page-template-about #four .paragraph {
	margin-top: 0;
}

.page-template-about #four .image {
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
}

.page-template-about #six {
	padding: 2vh 0;
}

.page-template-about #six img {
	border-radius: 3rem;
}

/* Bounce */

.page-template-about #six img {
	width: 110%;
	max-width: 110%;
	animation-duration: 50s;
	animation-iteration-count: infinite;
}

.bounce {
	animation-name: bounce;
	animation-timing-function: linear;
}

.page-template-about #six img {
	animation-name: bounce;
	animation-timing-function: linear;
}

@keyframes bounce {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-5%);
	}

	100% {
		transform: translateX(0);
	}
}

/* Bounce */

.page-template-about #seven {
	height: calc(100vh - 70px);
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 5%;
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.page-template-about #seven .text {
	padding-right: 20%;
}


.page-template-about #seven .image {
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
}

.page-template-about .grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
}

.grid-3>div {
	margin: 1%;
}

.grid-5 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.grid-5>div {
	margin: 1%;
	width: 18%;
}

.grid-5 .photo {
	border-radius: 50%;
}

.grid-5 .subtitle {
	color: #A6B7BD;
}

.page-template-about #eight {
	padding-bottom: 20vh;
}

.page-template-about .section-title {
	margin-bottom: 4.375rem;
}

.page-template-about .card .position {
	color: #A6B7BD;
}

.page-template-about #nine {
	/* height: calc(100vh - 70px); */
	padding: 0 8vw 0 8vw;
}

.page-template-about #nine .two-columns-text {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 0;
	padding-bottom: 10vh;
}

.page-template-about #nine .paragraph {
	margin-top: 0;
	width: 80%;
}

.page-template-about #nineB {
	padding: 0 8vw 10vh 8vw;
}

.page-template-about #nineBmobile {
	display: none;
}

.page-template-about #ten .grid-6 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	row-gap: 10vh;
}

.page-template-about #ten .grid-6 h1 {
	color: #383E4E;
}

.page-template-about #ten .grid-6 p {
	color: #737883;
	width: 35%;
}

.page-template-about #eleven {
	padding-bottom: 20vh;
}

.page-template-about #eleven .grid-3 .title {
	font-size: 28px;
	line-height: 33.6px;
	color: #000000 !important;
	margin-top: 2vh;
}

.page-template-about #eleven .grid-3 p {
	font-size: 20px;
	line-height: 32px;
	color: #A6B7BD;
}

.page-template-about #scrollLine .element {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 5%;
}

.page-template-about #scrollLine h3 {
	color: #D7DFEB;
}

.page-template-about #scrollLine .element .left {
	border-radius: 3rem;
	height: 50vh;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 10vh;
}

.page-template-about #scrollLine .element .right {
	border-left: 2px solid #D7DFEB;
	padding-left: 5vh;
	padding-top: 15vh;
}