/*--------------------------------------------------------------
# Archive
--------------------------------------------------------------*/

.archive .page-header {
	display: none;
}

.archive #hero {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 20px;
	padding: 20vh 8vw 0 8vw;
}

.archive #hero .hero-text {
	grid-column-start: 3;
	grid-column-end: 7;
}

.archive #hero .paragraph {
	margin-top: 50px;
	font-size: 20px;
	line-height: 32px;
}

.archive .section-title {
	padding: 10vh 8vw 0 8vw;
}

.archive .site-main {
	padding: 5vh 8vw;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	row-gap: 20px;
}

.archive article {
	background-color: #E8E9E9;
	border-radius: 3rem;
	height: auto;
}

.archive .ourblog-grid article {
	background-color: #ffffff;
	border-radius: 3rem;
	height: auto;
}

.post-type-archive-success-stories article .event-header .date {
	display: none;
}

.archive .site-main .cheat_sheet {
	background-color: #E4EAEB !important;
}

.archive .site-main .toolbox {
	background-color: #F1FBFD !important;
}

.archive .site-main .our_blog {
	background-color: #B8E9F4 !important;
}

.post-type-archive-insights article {
	height: 40vh;
}

.post-type-archive-success-stories article .event-header {
	grid-column-start: 4;
	grid-column-end: 9;
	padding: 5% 20% 10% 10%
}

/* Insights */

.post-type-archive .post-carousel {
	width: 100vw;
	height: 100vh;
}

.post-type-archive .flickity-viewport {
	height: 100vh !important;
}

.post-type-archive-insights #hero {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 20px;
	padding: 0;
}

.post-type-archive .post-carousel .carousel-cell {
	width: 100%;
	height: 100vh;
	margin-right: 10px;
	border-radius: 5px;
	counter-increment: carousel-cell;

	display: grid;
	grid-template-columns: repeat(8, 1fr);

	padding: 10% 8vw;
}

.post-type-archive-insights article .event-cover {
	grid-column-start: 1;
	grid-column-end: 4;
	height: 70vh;
}

.post-type-archive-insights .ourblog-grid article .event-cover {
	grid-column-start: 1;
	grid-column-end: 4;
	height: auto;
}

.post-type-archive-success-stories article .event-cover img {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

.post-type-archive-insights .ourblog-grid article .event-cover img {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	border-radius: 3rem;
}

.post-type-archive-insights .site-main article .event-cover {
	display: none;
}

.post-type-archive-insights-success-stories .site-main article article .event-cover {
	display: block;
}

.post-type-archive-insights article .event-header {
	grid-column-start: 4;
	grid-column-end: 9;
	padding: 5% 20% 10% 10%;
}

.post-type-archive-insights #primary article .event-header {
	grid-column-start: 4;
	grid-column-end: 9;
	padding: 10% 20% 10% 10%;

	height: 100%;
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.post-type-archive-insights #primary article .event-header .top  {
	grid-row-start: 1;
	grid-row-end: 2;
}

.post-type-archive-insights #primary article .event-header .bottom  {
	grid-row-start: 2;
	grid-row-end: 3;
	align-self: flex-end;
}

.post-type-archive-insights .archive-grid article .event-header {
	grid-column-start: 4;
	grid-column-end: 9;
	padding: 10% 20% 10% 10%;
	padding: 5% 5% 10% 0;
}

.post-type-archive-insights .ourblog-grid article .event-header {
	grid-column-start: 4;
	grid-column-end: 9;
	padding: 5% 5% 10% 0;
}

.post-type-archive-insights article .event-header .excerpt {
	margin-top: 30px;
	margin-bottom: 60px;
}

.post-type-archive-insights .flickity-button {
	position: absolute !important;
	margin-right: 8vw;
	margin-top: -15vh;
	background: transparent;
}

.post-type-archive-insights .flickity-prev-next-button.previous {
	left: 85vw;
}

.flickity-prev-next-button.next {
	left: 90vw;
}

.post-type-archive-insights .flickity-prev-next-button {
	top: 100% !important;
	border: 1px solid #C4C4C4 !important;
	margin-right: 8vw !important;
}

.single-post .column-3 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	column-gap: 5%;
	margin: 0 8vw 10vh 8vw;
}

.single-post .column-3 img {
	margin: 5vh 0;
}

.post-type-archive-insights .ourblog-grid .event-header .intro {
	margin-block-start: 24px;
	margin-block-end: 38px;
	color: #141B27;
}

.single-insights .client span:nth-child(1),
.single-insights .client span:nth-child(2) {
	display: none;
}

.single-insights .client .type {
	margin-left: 0;
}

.single-insights .client p {
	margin-block-start: 30px !important;
}

.single-insights #relatedInsights {
	padding: 10vh 0;
	border-top: 1px solid rgba(24, 34, 28, 0.15);
}

.single-insights #relatedInsights .section-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-right: 8vw;
}

.single-insights #relatedInsights .section-header a {
	display: grid;
	place-items: center;
	padding-left: 50%;
}

.single-insights .column-3 {
	display: flex;
	flex-direction: column;
	margin: 0 10vw 10vh 10vw;
}

.single-insights .column-3>.column img {
	margin: 5vh 0;
	border-radius: 3rem;
}

.single-insights #relatedInsights article {
	padding: 0;
	display: block;
}

#relatedInsights .grid-3 {
	padding: 5vh 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
}

#relatedInsights .grid-3 article {
	border-radius: 3rem;
}

#relatedInsights .grid-3 article .event-cover {
	display: none;
}

#relatedInsights .grid-3 .event-header {
	padding: 5% 20% 10% 10%;
}

.post-type-archive-insights #ten {
	column-gap: 5%;
	grid-column-start: 1;
	grid-column-end: 4;
}

.post-type-archive-insights #ten form {
	margin-top: 5vh;
}