/*--------------------------------------------------------------
# Companies
--------------------------------------------------------------*/

.page-template-companies .site-header {
	background-color: transparent;
}

.page-template-companies section {
	width: 100vw;
	height: auto;
	padding: 10vh 8vw;
}

.page-template-companies #one {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 20px;
	padding-top: 20vh;
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(184, 233, 244, 1) 30%);
}

.page-template-companies .hero-text {
	grid-column-start: 3;
	grid-column-end: 7;
}

.page-template-companies #one .paragraph {
	margin-top: 50px;
	font-size: 20px;
	line-height: 32px;
}

.page-template-companies .block {
	margin: 50px 0;
	width: 40%;
	height: 300px;
	border-radius: 3rem;
	padding-top: 5%;
	padding-left: 5%;

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 1fr 1fr 1fr 1fr;
	color: #ffffff;
	transition: 0.5s;
}

.page-template-companies .block .header-block {
	font-weight: bold;
	margin-bottom: 20px;
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 2;
}

.page-template-companies .block .paragraph-block {
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 2;
	grid-row-end: 3;
}

.page-template-companies .block .arrow-icon {
	display: grid;
	grid-column-start: 6;
	grid-row-start: 4;
}

.page-template-companies .block #arrow {
	grid-column-start: 4;
}

.page-template-companies .block:hover {
	opacity: 0.8;
	cursor: pointer;
}

/* .page-template-companies .block .header-block,
.page-template-companies .block .paragraph-block {
	width: 65%;
} */

/* .page-template-companies .block .header-block {
	font-weight: bold;
	margin-bottom: 20px;
}

.page-template-companies .block .arrow-icon {
	position: absolute;
	margin-top: 5%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.page-template-companies .block #arrow {
	grid-column-start: 4;
} */

/* Flip Cards */

.page-template-companies #two .section-title,
.page-template-companies #two .paragraph {
	width: 35%;
}

.page-template-companies .grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	column-gap: 2%;
	row-gap: 5%;
	text-align: center;
	margin-top: 10%;
}

.page-template-companies .grid-3 .flip-card {
	height: 300px;
	background-color: transparent;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: #F5F9FA;
	border-radius: 3rem;
	display: grid;
	place-items: center;
	align-content: center;
	perspective: 1000px;
	cursor: pointer;
}

.flip-card-front .icon {
	height: 110px;
}

.page-template-companies .grid-3 .flip-card-front .title {
	padding: 5% 0;
}

.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 3rem;
	perspective: 1000px;
	background-color: #ffffff;
	color: #2BBADB;
	transform: rotateY(180deg);
	text-align: left;
	padding-left: 10%;
	padding-right: 5%;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.page-template-companies .grid-3 .flip-card-back .title {
	padding: 10% 0;
}

.flip-card-back ul {
	color: #000000;
	list-style: none;
}

.flip-card-back ul li {
	padding-left: 0;
	text-decoration: none !important;
}

.flip-card-back ul li::before {
	content: "✓";
	/* Insert content that looks like bullets */
	padding-right: 8px;
	color: #000000;
}

.flip-card-back #arrow {
	position: absolute;
	bottom: 10%;
	right: 10%;
}


/* Flip Cards */

/* Timeline */

.page-template-companies #three {
	padding: 30vh 8vw 10vh 8vw;
}

.page-template-companies #threeMobile {
	display: none;
}

.page-template-companies .section-title-mobile {
	display: none;
}

.page-template-companies #three #scrollLine {
	margin-top: 5vh;
}

.page-template-companies #three #scrollLine .element {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.page-template-companies #three #scrollLine .element .left {
	border-radius: 3rem;
	height: 30vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	margin-bottom: 5vh;
}

.page-template-companies #three #scrollLine .element .right {
	border-left: 10px solid grey;
	padding-left: 5%;
}

.page-template-companies #three #scrollLine .element .right h2,
.page-template-companies #threeMobile #scrollLine .element .right h2 {
	color: #D7DFEB;
}

.page-template-companies #three #scrollLine .element .right h5,
.page-template-companies #threeMobile #scrollLine .element .right h5 {
	color: #383E4E;
	margin: 2rem 0;
}


.two-columns-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20%;
}

.two-columns-list ul {
	width: 75%;
}

.two-columns-list ul li {
	margin-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid rgba(24, 34, 28, .15)
}

.two-columns-list ul li:nth-child(1) {
	margin-top: 0;
	padding-bottom: 50px;
	border-bottom: 1px solid rgba(24, 34, 28, .15)
}

.icon-list {
	width: 50px;
}

.header-list {
	font-weight: bold;
	margin-bottom: 20px;
}

.two-columns-text {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10%;
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.page-template-companies #five {
	padding: 10vh 0;
}

/* Bounce */

.page-template-companies #five img {
	width: 110%;
	max-width: 110%;
	animation-duration: 50s;
	animation-iteration-count: infinite;
}

.bounce {
	animation-name: bounce;
	animation-timing-function: linear;
}

.page-template-companies #five img {
	animation-name: bounce;
	animation-timing-function: linear;
}

@keyframes bounce {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-5%);
	}

	100% {
		transform: translateX(0);
	}
}

/* Bounce */

.page-template-companies .two-columns-text {
	padding: 0 8vw 10vh 8vw;
}

.page-template-companies #five .two-columns-text h3 {
	font-size: 53px;
	line-height: 63.8px;
	margin-right: 25%;
}

.page-template-companies #five .clients {
	padding: 10vh 8vw;
}

.page-template-companies #five .clients p {
	text-align: center;
	color: #B9BBC1;
}

.grid-6 {
	margin: 5vh 0;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	column-gap: 5%;
}

.grid-6>img {
	margin: 4%;
}

.page-template-companies #seven {
	padding: 10vh 0 10vh 8vw;
}

.page-template-companies #seven .carousel-cell {
	border-radius: 3rem;
	width: 50%;
	height: 40vh;
	margin-right: 10px;
	counter-increment: carousel-cell;
}

.page-template-companies #seven .testimonial-card .inner {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	column-gap: 20px;
}

.page-template-companies #seven .testimonial-card .inner .image {
	height: 40vh;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	border-radius: 3rem;
}

.page-template-companies #seven .testimonial-card .inner .quote {
	background-color: #E8E9E9 !important;
	border-radius: 3rem;
	padding: 5%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.page-template-companies #seven .testimonial-card .inner .quote .testimonial-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	column-gap: 20px;
}

.page-template-companies #seven .testimonial-card .inner .quote .testimonial-info .company {
	display: grid;
	place-items: flex-end;
}

.page-template-companies #seven .testimonial-card .inner .quote .testimonial-info .company img {
	width: 40%;
}

.page-template-companies #seven .testimonial-card .inner .quote .testimonial-info .testimonial_position {
	color: #A6B7BD;
}

.page-template-companies #eight {
	padding: 10vh 0 10vh 8vw;
}

.page-template-companies #eight .post-carousel-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-right: 8vw;
}

.page-template-companies #eight .post-carousel-header a {
	display: grid;
	place-items: center;
	padding-left: 50%;
	color: #28B9DA;
}

.page-template-companies #eight .carousel-cell {
	background-color: #E8E9E9 !important;
	border-radius: 3rem;
	width: 30%;
	height: auto;
	margin-right: 10px;
	counter-increment: carousel-cell;
}

.page-template-companies #eight article .event-cover img {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	display: block;
}

.page-template-companies #eight article .event-header {
	padding: 5% 20% 10% 10%;
}

.page-template-companies #nine {
	height: calc(100vh - 70px);
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.two-columns {
	height: calc(100vh - 70px);
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.two-columns .header {
	padding-right: 5%;
}

.two-columns .paragraph {
	margin-top: 50px;
	padding-right: 5%;
}

.two-columns .info-note {
	display: grid;
	grid-template-columns: 1fr 7fr;
	margin: 3vh 10vw 0 2vw;
	color: #000000;
	opacity: 0.45;
}

.two-columns .info-note .icon {
	background-color: #000000;
	color: #ffffff;
	opacity: 0.45;
}

.two-columns .image {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.two-columns .image #blockButton {
	margin: 50% 5% 5% 5%;
	color: #ffffff;
	background-color: #28B9DA;
	border: 0;
	border-radius: 13px;
	padding: 1rem;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	outline: 0;
	transition: 0.5s;
}

.two-columns .image #blockButton:hover {
	color: #28B9DA;
	background-color: #ffffff;
	cursor: pointer;
}

.page-template-companies #ten {
	padding-bottom: 20vh;
}