/*--------------------------------------------------------------
# Companies
--------------------------------------------------------------*/

.page-template-companies #three,
.page-template-companies #four,
.page-template-companies #five,
.page-template-companies #fiveB,
.page-template-companies #six,
.page-template-companies #seven,
.page-template-companies #eight,
.page-template-companies #nine,
.page-template-companies #ten,
.page-template-companies #eleven {
	background-color: #ffffff !important;
}

.page-template-companies {
	background-color: #ffffff;
	transition: background-color 0.5s cubic-bezier(.72,.01,.26,.99);
}

.color-light-blue {
	background-color: #B8E9F4;
  }

.color-white {
	background-color: #ffffff;
}

.page-template-companies {
	overflow-x: hidden;
}

.page-template-companies section {
	width: 100vw;
	height: auto;
	padding: 0 8vw;
}

.page-template-companies #one {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	padding-right: 0;
	padding-top: 20vh;
	padding-bottom: 0;
}

.page-template-companies #two {
	padding: 255px 8vw 255px 8vw;
	grid-row-start: 2;
}

.page-template-companies .panel {
	height: auto;
}

.page-template-companies .hero-text {
	grid-column-start: 3;
	grid-column-end: 7;
	padding: 0 20vw 0 29.5vw;
}

.page-template-companies #one .paragraph {
	margin-top: 50px;
}

.page-template-companies .block {
    border-radius: 30px;
    padding: 30px !important;
    margin: 50px 0 !important;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    max-width: 300px;
    height: 300px;
    opacity: 1;
    -webkit-transition: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
	transition: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
}

.page-template-companies .block .header-block {
	font-weight: bold;
	margin-bottom: 20px;
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 2;
	color: #000000;
}

.page-template-companies .block .paragraph-block {
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 2;
	grid-row-end: 3;
	color: #000000;
}

.page-template-companies .block .arrow-icon {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 4;
	place-items: flex-end;
}

/* Flip Cards */

.page-template-companies #two .section-title,
.page-template-companies #two .paragraph {
	width: 50%;
}

.page-template-companies .grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	column-gap: 2vw;
    row-gap: 2vw;
	text-align: center;
	margin-top: 10vh;
}

.page-template-companies .grid-3 .flip-card {
	min-height: 25vw;
	background-color: #F5F9FA;
	border-radius: 30px;
	-webkit-transition: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
	animation: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
}

.page-template-companies .grid-3 .flip-card:hover {
	min-height: 25vw;
	background-color: transparent;
	border-radius: 30px;
	-webkit-transition: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
	animation: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
}

.page-template-companies .flip-card-inner {
	position: relative;
	width: 100%;
	height: 25vw;
	text-align: center;
	/* transition: transform 0.6s; */
	transform-style: preserve-3d;
	-webkit-transition: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
	animation: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
}

/* .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg) scale(1.04);
} */

.flip-card-front {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F5F9FA;
    border-radius: 30px;
	display: flex;
    /* grid-template-rows: 30% 30%; */
    flex-direction: column;
    place-items: center;
    justify-content: center;
    perspective: 1000px;
    cursor: pointer;
    -webkit-transition: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
    animation: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
}

.page-template-companies .flip-card-front .icon {
    height: 30%;
    margin-bottom: 30px;
}

.page-template-companies .grid-3 .flip-card-front .title {
	padding: 0;
	width: 160px;
}

.flip-card-back {
	opacity: 0;
	position: absolute;
	width: 100%;
	min-height: fit-content;
	/* -webkit-backface-visibility: hidden;
	backface-visibility: hidden; */
	border-radius: 2rem;
	perspective: 1000px;
	background-color: #ffffff;
	color: #2BBADB;
	text-align: left;
	padding-left: 10%;
	padding-right: 5%;
	-webkit-box-shadow: 0 24px 40px 0px#DCEAED;
	-moz-box-shadow: 0 24px 40px 0px #DCEAED;
	box-shadow: 0 24px 40px 0px #DCEAED;
	cursor: pointer;
	-webkit-transition: all 100ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
	animation: all 100ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
}

.page-template-companies .grid-3 .flip-card-back .title {
	padding: 10% 0;
}

.flip-card-back ul {
	color: #000000;
	list-style: none;
	padding-bottom: 10vh;
}

.flip-card-back ul li {
	text-decoration: none !important;
	margin-bottom: 20px;

	display: flex;
	flex-direction: row;
}

.flip-card-back ul li span {
	margin-right: 10px;
}

/* .flip-card-back ul li::before {
	content: "✓";
	padding-right: 8px;
	color: #000000;
} */

.flip-card-back #arrow {
	position: absolute;
	bottom: 10%;
	right: 10%;
}


/* Flip Cards */

/* Timeline */

.page-template-companies #three {
	padding: 0 8vw;
	margin: 0 auto 55px auto;
	width: 100%;
	max-width: 1920px;
}

.page-template-companies #threeMobile {
	display: none;
}

.page-template-companies .section-title-mobile {
	display: none;
}

.page-template-companies #three #scrollLine {
	margin: 10vh auto; 
	max-width: 1680px;
}

.page-template-companies #three #scrollLine .element {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 25px;
	height: 400px;
}

.page-template-companies #three #scrollLine .element .left {
	border-radius: 2rem;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 0;
    grid-column-start: 1;
    grid-column-end: 4;
}

.page-template-companies #three #scrollLine .element .right h5,
.page-template-companies #threeMobile #scrollLine .element .right h5 {
	color: #383E4E;
	margin-top: 32px;
	margin-bottom: 32px;
}

.page-template-companies #four {
	padding: 0 8vw 255px 8vw;
}

.page-template-companies #four .section-title,
.page-template-companies #six .section-title {
	width: 30vw;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 15vh;
}

.page-template-companies #four .two-columns-list {
	margin-top: -13vh;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 25px;
}

.page-template-companies #fiveB {
	padding: 0 0 10vh 0;
}

.page-template-companies #six {
	padding: 0 8vw 255px 8vw;
}

.page-template-companies #six .two-columns-list {
	margin-top: -12vh;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 25px;
}

.page-template-companies .two-columns-list ul {
	grid-column-start: 5;
	grid-column-end: 9;
}

.page-template-companies .two-columns-list ul li {
	margin-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid rgba(24, 34, 28, .15);
	padding-right: 20%;
}

.page-template-companies .two-columns-list ul li:nth-child(1) {
	margin-top: 0;
	padding-bottom: 50px;
	border-bottom: 1px solid rgba(24, 34, 28, .15);
}

.page-template-companies .two-columns-list ul li:nth-last-child(1) {
	margin-top: 50px;
	padding-bottom: 50px;
	border-bottom: none;
}

.icon-list {
	width: 50px;
}

.header-list {
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
	margin-top: 18px;
	margin-bottom: 20px;
}

.two-columns-text {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 25px;
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.two-columns-text .header {
	grid-column-start: 1;
	grid-column-end: 4;
}

.two-columns-text .paragraph {
	grid-column-start: 5;
	grid-column-end: 9;
}

.page-template-companies #five {
	padding: 10vh 0;
}

/* Bounce */

.page-template-companies #five img {
	width: 110%;
	max-width: 110%;
	animation-duration: 50s;
	animation-iteration-count: infinite;
}

.bounce {
	animation-name: bounce;
	animation-timing-function: linear;
}

.page-template-companies #five img {
	animation-name: bounce;
	animation-timing-function: linear;
}

@keyframes bounce {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-5%);
	}

	100% {
		transform: translateX(0);
	}
}

/* Bounce */

.page-template-companies .two-columns-text {
	padding: 0 8vw 10vh 8vw;
}

/* .page-template-companies #five .two-columns-text h2 {
	font-size: 53px;
	line-height: 63.8px;
	margin-right: 25%;
} */

/* .page-template-companies #five .clients {
	padding: 10vh 8vw 0 8vw;
}

.page-template-companies #five .clients p {
	text-align: center;
	color: #B9BBC1;
} */

.page-template-companies #fiveB h6 {
	color: #B9BBC1;
	text-align: center;
}

.page-template-companies #fiveB .clients {
	padding: 10vh 8vw;
}

.page-template-companies #fiveB .clients p {
	text-align: center;
	color: #B9BBC1;
}

.page-template-companies #fiveB .swiper-container {
    width: 100vw !important;
    height: 30vh !important;
    grid-column-start: 1;
    grid-column-end: 13;
}

.page-template-companies #fiveB .swiper-slide {
	margin: 0;
	padding: 0;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-color: #ffffff;
	
	height: auto !important;
}

.page-template-companies #fiveB .swiper-slide img {
	margin: 2%;
	display: block;
	width: 100%;
	height: 100px;
	object-fit: contain;
	background-color: #ffffff;
}

.page-template-companies #seven {
	padding: 0 0 255px 0;
}

.page-template-companies #seven .flickity-viewport {
    overflow: hidden;
    position: relative;
    /* height: 500px !important; */
}

.page-template-companies #seven .carousel-cell {
	border-radius: 30px;
	width: 50%;
	height: 500px;
	margin-right: 46px;
	counter-increment: carousel-cell;
}

.page-template-companies #seven .testimonial-card .inner {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	column-gap: 24px;
}

.page-template-companies #seven .testimonial-card .inner .image {
	height: 450px;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	border-radius: 30px;
}

.page-template-companies #seven .testimonial-card .inner .quote {
	background-color: #F5F9FA !important;
	border-radius: 2rem;
	padding: 5%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.page-template-companies #seven .testimonial-card .inner .quote .testimonial-info {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	column-gap: 20px;
}

.page-template-companies #seven .testimonial-card .inner .quote .testimonial-info .company {
	display: grid;
	place-items: flex-end;
}

.page-template-companies #seven .testimonial-card .inner .quote .testimonial-info .company img {
	width: 60%;
}

.page-template-companies #seven .testimonial-card .inner .quote .testimonial-info .testimonial_position {
	color: #A6B7BD;
}

.page-template-companies #seven .previous, 
.page-template-companies #seven .previous {
	margin-left: 8vw;
}

.page-template-companies #eight {
	padding: 0 0 255px 0;
}

.page-template-companies #eight .post-carousel {
	margin-top: 5vh;
}

.page-template-companies #eight .post-carousel-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-right: 8vw;
	padding-left: 8vw;
}

.page-template-companies #eight .post-carousel-header a {
	display: flex;
    flex-direction: row;
    place-items: center;
    color: #28B9DA;
	justify-self: end;
	align-self: center;
	-webkit-transition: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
	transition: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
}

.page-template-companies #eight .post-carousel-header a:after {
	content: url('/wp-content/uploads/2020/11/Vector.svg');
	margin-left: 24px;
	align-self: center;
	margin-top: 5px;
}

.page-template-companies #eight .event-header .type {
    margin-bottom: 1.5rem;
    color: #383E4E;
    opacity: 0.6;
}

.page-template-companies #eight .flickity-viewport {
	height: 500px;
}

.page-template-companies #eight .carousel-cell {
	background-color: #F5F9FA !important;
	width: 450px;
	height: 450px;
    margin-right: 10px;
    counter-increment: carousel-cell;
    overflow: hidden;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    display: grid;
    grid-template-rows: 55% 45%;
}


.page-template-companies #eight article .event-cover img {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	display: block;
}

.page-template-companies #eight article .event-header {
	padding: 5% 10% 10% 10%;
}

.page-template-companies #eight .previous, 
.page-template-companies #eight .previous {
	margin-left: 8vw;
}

.page-template-companies #nine {
	height: calc(100vh - 70px);
	padding-top: 0;
	padding-bottom: 5vh;

	/* display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 25px; */

	display: flex;
	flex-direction: row;
}

.page-template-companies #nine>div:nth-child(1) {
	margin-right: 30px
}

.page-template-companies #nine>div:nth-child(2) {
	margin-left: 30px
}

.page-template-companies #nine .text {
	grid-column-start: 1;
	grid-column-end: 4;
	flex-basis: 45%;
}

.page-template-companies #nine .image {
	flex-basis: 55%;
	/* grid-column-start: 5;
	grid-column-end: 9; */
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.page-template-companies #nine .image img {
	grid-column-start: 1;
	grid-column-end: 5;
}

.two-columns {
	height: calc(100vh - 70px);
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.two-columns .paragraph {
	margin-top: 50px;
	padding-right: 5%;
}

.two-columns .info-note {
	display: grid;
	grid-template-columns: 1fr 7fr;
	margin: 3vh 0 0 2vw;
	color: #000000;
	opacity: 0.45;
}

.two-columns .info-note .icon {
	background-color: #000000;
	color: #ffffff;
	opacity: 0.45;
}

.two-columns .image {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.two-columns .image #blockButton {
	height: 56px;
    color: #ffffff;
    background-color: #28B9DA;
    border: 0;
    border-radius: 13px;
    padding: 0;
    margin-top: -25%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    outline: 0;
    transition: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
    align-self: flex-start;
    font-size: 20px;
    width: 100%;
}

.page-template-companies #ten {
	padding-top: 0;
	padding-bottom: 155px;
}

.page-template-companies #ten .two-columns-flex {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 25px;
	grid-column-start: 1;
    grid-column-end: 4;
}

.page-template-companies #ten .two-columns-flex .header {
	grid-column-start: 1;
    grid-column-end: 4;
}

.page-template-companies #ten .two-columns-flex p {
	grid-column-start: 5;
    grid-column-end: 8;
}

.page-template-companies #ten .grid-4 {
	margin: 10vh auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
	column-gap: 25px;
	row-gap: 25px;
	max-width: 1680px;
}

.page-template-companies #ten .grid-4 div{
	border-radius: 30px;
	padding: 10%;
}

.page-template-companies #ten .grid-4 .top-left {
	background-color: #F5F9FA;
}

.page-template-companies #ten .grid-4 .top-right {
	background-color: #E4EAEB;
	background-color: #E4EAEB;
	min-height: fit-content;
	height: 100%;
}

.page-template-companies #ten .grid-4 .bottom-left {
	background-color: #F1FBFD;
	margin-top: 0;
	margin-left: 20vh;
}

.page-template-companies #ten .grid-4 .bottom-right {
	background-color: #F5F9FA;
}

.page-template-companies #eleven {
	padding-top: 0;
	padding-bottom: 155px;

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 25px;
}

.page-template-companies #eleven .text:nth-child(1) {
	grid-column-start: 2;
	grid-column-end: 5;
}

.page-template-companies #eleven .text:nth-child(2) {
	grid-column-start: 5;
	grid-column-end: 8;
	padding-top: 20px;
	padding-right: 10%;
}

.page-template-companies #eleven .text h1 {
	/* font-size: 80px;
	line-height: 100px; */
}

.page-template-companies #eleven .text p {
	margin-block-end: 32px;
}

.page-template-companies #eleven .block {
    border-radius: 30px;
    padding: 8% !important;
    margin: 50px 0 !important;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
	width: 100%;
    max-width: 300px;
    height: 300px;
    opacity: 1;
    -webkit-transition: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
	transition: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
}

/* Companies Timeline */

.page-template-companies #three #scrollLine .element .left {
	opacity: 0;
}

.page-template-companies #three #scrollLine .element .right {
	width: 100%;
	background-image: linear-gradient(to bottom, #D7DFEB, #D7DFEB);
	grid-column-start: 4;
    grid-column-end: 9;
}

.page-template-companies #three #scrollLine .element .right {
	padding-left: 3px;
	margin-left: 10%;
	width: 45vw;
}

.page-template-companies #three #scrollLine .element:nth-last-child(1) .right {
	padding-left: 0;
}

.page-template-companies #three #scrollLine .element:nth-last-child(1) .right .blueDot{
	transform: translate(-6.5px, 0);
}

.animatedline  {
	background-color: lightgrey;
	width: 10px;
	height: 100%;
	float: left;
}

.textBlock {
	height: 100%;
	background-color: white;
	padding-left: 10%;
	padding-bottom: 10%;
}

.textBlock h2 {
	color: #D7DFEB;
}

.page-template-companies .blueDot {
	height: 16px;
	width: 16px;
	position: absolute;
	transform: translate(-9.5px, 0);
}

.svgDot {
	fill: #ffffff;
	stroke: #D7DFEB;
}

.textAppear {
	opacity: 0.1;
}
