/* Header
--------------------------------------------- */

html:lang(en-US) #menu-item-3851 {
	display: none;
}

html:lang(de-DE) #menu-item-3850 {
	display: none;
}

html:lang(en-US) #menu-item-3354 {
	display: none;
}

html:lang(de-DE) #menu-item-3353 {
	display: none;
}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 20px;
	align-items: center;
	font-family: 'Inter', sans-serif;
	color: black;
	padding: 6vh 8vw 6vh 8vw;
	z-index: 5000;
	transition: all 0.5s ease-in-out;
}

.site-header-normal {
	background-color: transparent;
	top: 0;
}

.site-header-up {
	top: -20vh;
}

.site-header-down {
	background-color: #ffffff;
}

.transparent {
	background-color: transparent !important;
}

.page-template-companies .site-header-down,
.page-template-talents .site-header-down,
.page-template-about .site-header-down,
.page-template-companies .post-type-archive {
	background-color: #ffffff;
}

.site-branding {
	grid-column-start: 1;
	grid-column-end: 3;
}

.custom-logo-link img {
	width: 160px;
	height: auto;
}

.main-navigation {
	/* display: block;
	grid-column-start: 3;
	grid-column-end: 9; */

	display: flex;
    grid-column-start: 3;
    grid-column-end: 9;
    flex-direction: row;
    flex-wrap: wrap;
}

.mobile-navigation {
	display: none;
}

.main-navigation ul {
	display: none;
	list-style: none !important;
	margin: 0;
	padding-left: 0;
}

#primary-menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#primary-menu li {
	margin-right: 2.8125rem;
}

#primary-menu .menu-item-object-language_switcher {
	opacity: 0.5;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: none;
	position: relative;
}

.entry-header {
	display: none;
}