/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/

.home {
	overflow-x: hidden;
}

.home section {
	width: 100vw;
	height: auto;
	padding: 0 8vw;
}

.home #one {
	padding-top: 20vh;
	margin-top: 10vh;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: auto;
}

.home #two,
.home #three,
.home #four {
	padding: 0 0 0 8vw;
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
}

.home #one .hero-text {
	grid-column-start: 3;
	grid-column-end: 8;
	width: 100%;
	margin-left: 0;
}

.home #one .hero-text .innovate {
	display: flex;
	flex-direction: row;
}

.home #one .hero-text .innovate h1 {
	font-size: 200px;
	line-height: 200px;
	font-weight: 800;
}

.home #one .hero-text .innovate .desktop {
	width: 100%;
	height: 100%;
}

.home #one .hero-text h2 {
	margin-right: 20%;
}

.hero-text #desktop {
	display: block;
}

.hero-text #mobile {
	display: none;
}

.home #one .color-blocks {
	margin-top: 50px;
	margin-left: 0;
	margin-right: 0;
	grid-row-start: 2;
	grid-column-start: 3;
	grid-column-end: 8;

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 24px;
/* 
	-webkit-animation: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
			animation: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940); */
}

.home #one .color-blocks .left .info {
	margin-top: 0 !important;
	margin-left: 0 !important;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 5;
}

.home #one .color-blocks .left .info p {
	margin-bottom: 1.2rem;
}

.home #one .color-blocks .right .info {
	margin-top: 0 !important;
	margin-right: 0 !important;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 5;
}

.home #one .color-blocks .right .info p {
	margin-bottom: 1.2rem;
}

.home #blockScroll {
	position: relative;
	padding: 0 8vw;
}

#blockScroll {
	position: relative;
	padding: 0vh 8vw;
}

.indicators {
	left: 2rem;
	top: 0;
	margin: 10vh 0;
	height: 80vh;
	width: 3px;
	display: block;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	display: block !important;
}

.indicator {
	width: 100%;
	background-color: #adadad;
	flex-grow: 1;
	margin: 2px 0;
}

.home #blockScroll .wrapper {
	height: 110vh;
	width: 100%;
}

.home #blockScroll .point {
	height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 25px;
}

.home .point article {
	/*flex-basis: 60%;
    margin-right: 10%; */
    grid-column-start: 1;
    grid-column-end: 4;
}

.home .point article p {
	margin-top: 2.5rem;
}

.home .point img {
	/* flex-basis: 80%;
	max-width: 60vw;
	margin-right: 0;
	height: auto; */
	grid-column-start: 5;
	grid-column-end: 9;
	width: 100%;
}

.home .two-columns {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: auto;
	column-gap: 25px;
	height: calc(100vh - 70px);
	margin-bottom: 5vh;
}

.home .two-columns .text {
	padding: 0;
}

.home .two-columns .text .header {
	font-size: 58px;
	line-height: 63.8px;
	padding-right: 0;
}

.home .two-columns .text .paragraph {
	margin-top: 40px;
	font-size: 20px;
	line-height: 32px;
}

.home .two-columns .image {
	padding: 0;
	background-attachment: fixed;
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
}

.home #five {
	padding: 0 8vw;
	height: auto;
}

.home #five .text:nth-child(1),
.home #ten .text:nth-child(1) {
	padding: 0;
	grid-column-start: 1;
	grid-column-end: 4;
}

.home #five .text:nth-child(2),
.home #ten .text:nth-child(2) {
	padding: 0;
	grid-column-start: 5;
	grid-column-end: 9;
}

.home .color-blocks {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 24px;
}

.home .color-blocks .info .paragraph {
	margin-top: 25px;
}

.home #one .color-blocks .left {
	background-color: #B8E9F4;
	border-radius: 30px;
	padding: 10% 14% 10% 12% !important;
	margin: 0 1% !important;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	/* display: flex;
	flex-direction: column;
	flex-wrap: wrap; */
	justify-content: space-between;
	width: 300px;
    max-width: 300px;
    height: 300px;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.home #one .color-blocks .right {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 30px;
	padding: 10% 14% 10% 12% !important;
	margin: 0 1% !important;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	/* display: flex;
	flex-direction: column;
	flex-wrap: wrap; */
	justify-content: space-between;
	width: 300px;
    max-width: 300px;
    height: 300px;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.home .color-blocks img {
	grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    margin-top: -40%;
    width: 20vw;
}

.home .color-blocks .label {
	font-size: 20px;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	align-self: self-start;
}

.home .color-blocks .info {
	margin-right: 0;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

.home .color-blocks #blockButton {
	grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    height: 55px;
    margin: 0;
    color: #ffffff;
    border: 0;
    border-radius: 13px;
    padding: 1rem auto;
    outline: 0;
    transition: 0.5s;
    align-self: flex-end;
	width: auto;
	transition: all 0.5s ease-in-out;
}

.home .color-blocks .info .paragraph {
	margin-top: 25px;
}

.home #fiveB {
	padding: 0 0 5vh 0;
}

.home #fiveB .flickity-viewport {
	height: 300px !important;
	margin-top: 5vh !important;
    margin-bottom: 5vh !important;
}

.home #fiveB .carousel-cell {
	width: 20%;
    min-width: 300px;
    height: 300px;
	margin-right: 10px;
	border-radius: 5px;
	counter-increment: carousel-cell;
}

.home #fiveB .flip-card:hover .flip-card-inner {
	transform: none;
	opacity: 0.8;
}

.home #fiveB .flip-card .title,
.home #fiveB .flip-card .icon {
	padding: 5% 0;
}

.home #fiveB .flip-card-front {
	background-color: transparent;
}

.home .flip-card-front .icon {
    height: 110px;
    margin-bottom: 40px;
}

/* cell number */
.home #fiveB .carousel-cell:before {
	display: block;
	text-align: center;
}

.home #six {
	padding: 0 0 5vh 0;
}

.home #seven {
	padding: 0 0 10vh 0;
}

.home #eight {
	padding: 0 0 10vh 0;
}

.home .post-carousel-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-right: 8vw;
	padding-left: 8vw;
}

.home .post-carousel-header a {
	display: flex;
    flex-direction: row;
    place-items: center;
    color: #28B9DA;
	justify-self: end;
	align-self: center;
	-webkit-transition: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
	transition: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
}

.home .post-carousel-header a:after {
	content: url('/wp-content/uploads/2020/11/Vector.svg');
	margin-left: 24px;
	align-self: center;
	margin-top: 5px;
}

.home .post-carousel {
	margin-top: 50px;
}

.home #six .flickity-viewport {
	height: 500px;
}

.home #six .carousel-cell {
	background-color: #F5F9FA !important;
	width: 450px;
	height: 450px;
	margin-right: 10px;
	counter-increment: carousel-cell;
	overflow: hidden;

	-webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
	-khtml-border-radius: 30px;

	-webkit-mask-image: -webkit-radial-gradient(white, black);

	display: grid;
	grid-template-rows: 250px 50%;
}

.home #seven .swiper-container {
	height: 30vh !important;
}

.home #seven .swiper-wrapper {
	-webkit-transition-timing-function:linear !important; 
  	-o-transition-timing-function:linear !important;
  	transition-timing-function:linear !important; 
}

.home #seven .swiper-slide {
	padding: 0;
}

.home #eight .carousel-cell {
	border-radius: 30px;
	width: 450px;
	height: 450px;
	margin-right: 10px;
	counter-increment: carousel-cell;

	transition: all 0.3s cubic-bezier(.72,.01,.26,.99);
	border: none;
}

.carousel-cell:before {
	display: block;
}

.home #fiveB .previous,
.home #six .previous,
.home #eight .previous {
	margin-left: 8vw;
}

.home #six .next,
.home #eight .next {
	margin-left: 0;
}

.home #six article .event-cover img {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	display: block;
}

.home #seven h6 {
	color: #B9BBC1;
	text-align: center;
}

.home #seven .clients {
	padding: 10vh 8vw;
}

.home #seven .clients p {
	text-align: center;
	color: #B9BBC1;
}

.home #seven .swiper-slide {
	margin: 0;
	padding: 0;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-color: #ffffff;
	height: auto !important;
}

.home #seven .swiper-slide img {
	margin: 2%;
	display: block;
	width: 100%;
	height: 70px;
	object-fit: contain;
	background-color: #ffffff;
}

.home #eight article .event-cover img {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	display: none;
}

.home article .event-header {
	padding: 5% 10% 10% 10%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	transition: all 0.5s ease-in-out;
}

.home article .event-header .type {
	margin-bottom: 1.5rem;
	color: #383E4E;
	opacity: 0.6;
}

.home #eight article .event-header {
	height: 100%;
	padding: 10% 10% 10% 10%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
}

.home #eight article.cheat_sheet,
.home #eight article.toolbox,
.home #eight article.our_blog {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

.home #eight article .event-header .bottom {
	align-self: flex-end;
}

.home #eight article .event-header h5 {
	margin-bottom: 33.6px;
}

.home #eight article .event-header .type,
.home #eight article .event-header .date,
.home #eight article .event-header .author {
	margin: 0;
	color: #383E4E;
	opacity: 0.6;
	font-size: 18px;
	line-height: 30px;
}

.home article .event-header .category {
	color: rgba(56, 62, 78, 0.6);
}


.flickity-page-dots {
	display: none !important;
}

.flickity-button {
	position: static !important;
}

.flickity-button svg {
    width: 100%;
    height: 100%;
}

.flickity-prev-next-button {
	top: 100% !important;
	border: 1px solid #C4C4C4 !important;
	margin-right: 10px !important;
}

.flickity-viewport {
	margin-bottom: 50px !important;
}

.home #nine .color-blocks {
	padding: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2vh;
}

.home #nine .color-blocks .left {
	background-color: #B8E9F4;
    border-radius: 30px;
    padding: 5%;
    margin: 10% 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-height: 70%;
    height: 70%;
}

.home #nine .color-blocks .right {
	background-color: #F1FBFD;
    border-radius: 30px;
    padding: 5%;
    margin: 10% 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-height: 70%;
    height: 70%;
}

.home #ten {
	padding: 0 8vw 0 8vw;
	column-gap: 5vw;
	height: auto;
}

.home #ten form {
	margin-top: 2vh;
}

.home #ten #form {
	display: none;
}

.home #ten form input[type="email"] {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 2rem;
	padding: 4rem;
}

.home .contact-form input[type="text"] {
	color: #666;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px 100px 20px 16px;
    width: 45%;
    margin-top: 20px;
    font-size: 1rem;
}

.home .contact-form button[type="submit"] {
	color: #ffffff;
    background-color: #28B9DA;
    border: 0;
    border-radius: 15px;
    padding: 20px 16px 20px 16px;
    width: 20%;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
}
