/* MOBILE MOBILE MOBILE */


@media screen and (max-width: 414px) {

	* {
		margin: 0;
		padding: 0;
	}

	html,
	body {
		width: 100vw;
		margin: 0;
		padding: 0;
	}

	p {
		font-size: 18px;
		line-height: 28.8px;
	}

	h1 {
		font-size: 52px;
		line-height: 52px;
	}

	h2 {
		font-size: 43px;
		line-height: 47.3px;
	}

	.site-branding {
		grid-column-start: 1;
		grid-column-end: 5;
	}

	.site-header {
		position: fixed;
		padding: 2vh 8vw;
		top: 0;
	}

	#menuToggle {
		display: block;
		right: 32vw;
		top: 3vh;
		grid-column-start: 8;
	}

	.main-navigation {
		display: none;
	}

	.mobile-navigation {
		display: block;
	}

	.main-navigation ul,
	.mobile-navigation ul {
		display: flex;
	}

	#mobile-menu {
		display: none;
		position: fixed;
		background-color: #000000;
		top: 8vh;
		left: 8vw;
		width: calc(100vw - 16vw);
		height: calc(100vh - 16vh);
		padding: 5%;
		border-radius: 3rem;
		z-index: 100;
	}

	#mobile-menu li {
		margin-right: 0;
		margin-bottom: 1.5rem;
		padding-left: 0;
	}

	#mobile-menu li:nth-child(1) {
		margin-right: 0;
		margin-bottom: 2.5rem;
		padding-left: 0;
	}

	#mobile-menu li img {
		width: 60%;
	}

	#mobile-menu li a {
		color: #ffffff;
		font-size: 30px;
	}

	#menuToggle {
		outline: 0;
		z-index: 1000;
	}

	.site-footer .primary-footer {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-top: 100px;
		padding: 0 8vw;
	}

	.site-footer .primary-footer > div {
		margin-bottom: 5vh;
	}

	.site-footer .secondary-footer {
		margin-top: 20vh;
		padding: 0 8vw;
	}

	#secondary-footer-menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	#secondary-footer-menu li:nth-child(4), #secondary-footer-menu li:nth-child(5), #secondary-footer-menu li:nth-child(6) {
		margin-right: 20px;
		width: 10vw;
	}

	#secondary-footer-menu li:nth-child(1) {
		margin-right: 10vw;
	}

	#secondary-footer-menu li:nth-child(2),
	#secondary-footer-menu li:nth-child(3) {
		margin-right: 5vw;
	}

	#secondary-footer-menu li:nth-child(4), 
	#secondary-footer-menu li:nth-child(5), 
	#secondary-footer-menu li:nth-child(6) {
		margin-right: 10px;
    	width: 10vw;
    	margin-top: -15vh;
	}

	/* Home */

	.home #one {
		padding-top: 22vh;
		grid-template-rows: auto;
		/* padding: 20vh 0 0 8vw; */
	}

	.home .hero-text {
		grid-column-start: 1;
		grid-column-end: 10;
		width: 100%;
		margin-left: 0;

		display: flex;
		flex-direction: row-reverse;
	}

	.home .hero-text #desktop {
		display: block;
		transform: rotate(90deg) scale(4);
	}
	
	.home .hero-text #mobile {
		display: none;
		transform: scale(3);
		margin-top: -30%;
	}

	.home .hero-text h2 {
		font-size: 52px;
		align-self: flex-end;
	}

	.home #heroImage {
		grid-column-start: 1;
		grid-column-end: 9;
	}

	.home #one .color-blocks {
		display: flex;
		flex-direction: column;
	}

	.home #one .color-blocks .left,
	.home #one .color-blocks .right {
		margin: 1rem 0 !important;
	}

	.home #one .color-blocks .info {
		margin-right: 0;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.home #one .color-blocks .arrow-icon {
		position: relative;
		display: block;
		grid-template-columns: 1fr;
		grid-column-start: 4;
		grid-row-start: 3;
	}

	.home .color-blocks #arrow {
		grid-column-start: 4;
	}

	.home #nine .color-blocks {
		display: flex;
		flex-direction: column;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}

	.home #one .color-blocks {
		margin-left: 0;
		margin-right: 0;
		grid-row-start: 2;
		grid-column-start: 1;
		grid-column-end: 9;

		padding-right: 8vw;
	}

	.home #blockScroll {
		position: relative;
		padding: 10vh 0 0 0;
		margin-top: 10vh;
	}

	.home #blockScroll .point {
		height: 100vh;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
		top: 5vh !important;
	}

	.home .point article {
		flex-basis: 50%;
		margin-right: 8vw;
		margin-left: 8vw;
	}

	.home .point img {
		flex-basis: 100%;
		max-width: 100vw;
		height: 100vh;
	}
	
	.home #five .text:nth-child(1),
	.home #five .text:nth-child(2) {
		padding: 5% 0;
	}

	.home #five {
		padding: 30vh 8vw 0 8vw;
		height: auto;
	}

	.home .two-columns {
		display: grid;
	}

	.two-columns .text {
		padding: 0;
		grid-column-start: 1;
		grid-column-end: 9;
	}

	.two-columns .paragraph {
		margin-top: 50px;
		padding-right: 0;
	}

	.home #fiveB {
		padding: 5vh 0 10vh 8vw;
	}

	.home #fiveB .carousel-cell {
		width: 60%;
		height: 30vh;
		margin-left: 10px;
		border-radius: 5px;
		counter-increment: carousel-cell;
	}

	.home #six .carousel-cell {
		background-color: #E8E9E9 !important;
		border-radius: 3rem;
		width: 100%;
		height: auto;
		margin-right: 10px;
		counter-increment: carousel-cell;
	}

	.home #seven {
		padding: 0 8vw;
	}

	.home #seven .clients {
		padding: 0;
	}

	.grid-6 {
		margin: 5vh 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		column-gap: 10%;
		row-gap: 30%;
		place-items: center;
	}

	.grid-6>img {
		margin: 4%;
		width: 50% !important;
	}

	.home #eight .carousel-cell {
		border-radius: 3rem;
		width: 100%;
		height: 40vh;
		margin-right: 10px;
		counter-increment: carousel-cell;
	}

	.home .post-carousel-header a {
		display: grid;
		place-items: self-end;
		padding-left: 50%;
		color: #28B9DA;
		display: none;
	}

	.home #ten {
		padding: 10vh 8vw 0 8vw;
		column-gap: 5vw;
		height: 100vh;
	}

	.home #nine {
		display: flex;
	}

	.home .color-blocks img {
		width: 80%;
		float: none;
		margin-right: 10%;
		margin-left: 10%;
		margin-top: -25%;
	}

	.home .color-blocks .left,
	.home .color-blocks .right {
		padding: 10% !important;
		margin: 10% 0;
		max-height: 30%;
    	height: 30%;
	}

	.home .color-blocks .left .info,
	.home .color-blocks .right .info {
		margin-top: 0;
		margin-right: auto;
		margin-left: auto;
	}

	.home .color-blocks #blockButton {
		width: 100%;
		grid-column-start: 1;
    	grid-column-end: 4;
	}

	.home #six, .home #eight {
		padding: 10vh 8vw;
	}

	/* Companies */

	.two-columns-list {
		display: flex;
		flex-direction: column;
	}

	.two-columns-list ul {
		margin-top: 10vh;
		width: calc(100vw - 16vw);
	}

	.page-template-companies .section-title-mobile {
		display: block;
		padding: 0 8vw;
	}

	.page-template-companies #one {
		
	}

	.page-template-companies .hero-text {
		grid-column-start: 1;
		grid-column-end: 9;
	}

	.page-template-companies .block {
		margin: 50px 0;
		width: 100%;
		height: 40vh;
		border-radius: 3rem;
		padding-top: 10%;
		padding-left: 10%;
		color: #ffffff;
		transition: 0.5s;
	}

	.page-template-companies .block .arrow-icon {
		margin-top: 20%;
		width: 100%;
	}

	.page-template-companies .block #arrow {
		grid-column-start: 3;
	}

	.page-template-companies #two .section-title {
		width: 65vw;
	}

	.page-template-companies #two .paragraph {
		width: calc(100vw - 16vw);;
	}

	.page-template-companies .grid-3 {
		width: calc(100vw - 16vw);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 5%;
    	row-gap: 5;
	}

	.page-template-companies .grid-3 .flip-card {
		height: 20vh;
		width: 40vw;
    	background-color: transparent;
	}

	.page-template-companies .grid-3 .flip-card img {
		width: 40%;
	}

	.page-template-companies .grid-3 .flip-card-front .title {
		font-size: 14px;
		line-height: 20px;
		padding: 0 0 5% 0;
	}

	.page-template-companies .grid-3 .flip-card .flip-card-front {
		padding: 10%;
	}

	.page-template-companies .flip-card-back {
		display: none;
	}

	.page-template-companies #two {
		width: 100vw;
		height: auto;
		padding: 10vh 8vw 40vh 8vw;
	}

	.page-template-companies #three {
		display: block;
		padding: 20vh 8vw 10vh 8vw;
	}

	.page-template-companies #three #scrollLine .element {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		margin-top: 50px;
	}

	.page-template-companies #three #scrollLine .element .left {
		border-radius: 3rem;
		height: auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		margin-bottom: 0;
	}

	.page-template-companies #three #scrollLine .element .right {
		border-left: 0;
		padding-left: 8vw;
		padding-right: 8vw;
	}

	/* .timeline ul li {
		list-style-type: none;
		position: relative;
		width: 6px;
		margin: 0 !important;
		padding-top: 0;
		background: transparent !important;
	}

	.timeline ul li.in-view::after {
		display: none !important;
	}

	.timeline ul li:nth-child(even) div::before {
		display: none !important;
	}

	.timeline ul li:nth-child(odd) div,
	.timeline ul li:nth-child(even) div {
		left: 0 !important;
	} */

	.page-template-companies #threeMobile {
		display: none;
		height: 350vh;
		width: 100vw;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.page-template-companies #threeMobile .scroll-line .element {
		display: flex;
		flex-direction: column;
		margin-top: 30vh;
		background-color: white;
		border-radius: 3rem;
		padding: 5%;
		background: linear-gradient(transparent, #ffffff, transparent);
	}
	
	.page-template-companies #threeMobile .scroll-line .element .left {
		border-radius: 3rem;
		height: 30vh;
	}
	
	.page-template-companies #threeBmobile .scroll-line .element .right {
		border-left: 10px solid grey;
		padding-left: 5%;	
	}

	.page-template-companies #threeMobile .scroll-line .element:nth-child(1) {
		margin-top: 22vh;
	}

	.page-template-companies #seven,
	.page-template-companies #eight {
		padding: 10vh 8vw;
	}

	.page-template-companies #ten .two-columns-text {
		padding: 30vh 8vw 10vh 8vw;
		display: flex;
    	flex-direction: column;
	}

	.page-template-companies .two-columns-text .paragraph {
		margin-top: 2vh;
	}

	.page-template-companies #seven .testimonial-card .inner {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 3fr;
		column-gap: 20px;
	}

	.page-template-companies #seven .testimonial-card .inner .image {
		display: none;
	}

	.page-template-companies #seven .carousel-cell {
		width: 100%;
	}

	.page-template-companies #seven .testimonial-card .inner .quote {
		background-color: #E8E9E9 !important;
		border-radius: 3rem;
		padding: 5% 5% 10% 5%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.page-template-companies #eight .post-carousel-header a {
		display: none;
	}

	.page-template-companies #eight .carousel-cell {
		background-color: #E8E9E9 !important;
		border-radius: 3rem;
		width: 100%;
		height: auto;
		margin-right: 10px;
		counter-increment: carousel-cell;
	}

	.two-columns .image #blockButton {
		margin: 50% 5% 5% 5%;
		color: #ffffff;
		background-color: #28B9DA;
		border: 0;
		border-radius: 13px;
		padding: 1rem;
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		outline: 0;
		transition: 0.5s;
	}

	.page-template-companies .post-carousel {
		margin-top: 5vh;
	}

	.page-template-companies #nine {
		height: calc(100vh - 70px);
		padding-top: 0;
		padding-bottom: 20vh;
	}

	.two-columns .image {
		margin-top: 2vh;
		height: auto;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-column-start: 1;
    	grid-column-end: 3;
	}

	.two-columns .image #blockButton {
		margin: 100% 15% 5% 15%;
		color: #ffffff;
		background-color: #28B9DA;
		border: 0;
		border-radius: 13px;
		padding: 1rem;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		outline: 0;
		transition: 0.5s;
	}

	.page-template-companies #ten {
		padding-bottom: 20vh;
		margin-top: 40vh;
	}

	.page-template-companies #ten .grid-4 {
		margin: 10vh 0;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		row-gap: 5vh;
	}

	.page-template-companies #ten .grid-4 div {
		border-radius: 25px;
		height: 30vh;
		width: calc(100vw - 16vw);
		padding: 10%;
	}

	/* Talents */

	.page-template-talents .section-title {
		margin-bottom: 0;
		width: 50%;
	}

	.page-template-talents .hero-text {
		grid-column-start: 1;
		grid-column-end: 9;
	}

	.page-template-talents .block {
		margin: 50px 0;
		width: 100%;
		height: 40vh;
		border-radius: 3rem;
		padding-top: 10%;
		padding-left: 10%;
		color: #ffffff;
		transition: 0.5s;
	}

	.page-template-talents .color-blocks .left {
		background-color: #B8E9F4;
		border-radius: 3rem;
		padding: 5%;
		margin: 10% 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		max-height: 70%;
		height: 70%;
	}

	.page-template-talents .color-blocks .right {
		background-color: #B8E9F4;
		border-radius: 3rem;
		padding: 5%;
		margin: 10% 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		max-height: 70%;
		height: 70%;
	}

	.page-template-talents .color-blocks img {
		grid-column-start: 1;
		grid-column-end: 5;
		grid-row-start: 1;
		margin-top: -30%;
		width: auto;
	}

	.page-template-talents #two .color-blocks .left .info {
		margin-right: 0;
		grid-column-start: 1;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 3;
		width: 100%;
	}

	.page-template-talents #two .color-blocks .right .info {
		margin-right: 0;
		grid-column-start: 1;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 3;
		width: 100%;
	}

	.page-template-talents .color-blocks #blockButton {
		grid-column-start: 1;
		grid-column-end: 5;
		grid-row-start: 3;
		height: 3rem;
		margin: 0;
		color: #ffffff;
		border: 0;
		border-radius: 2rem;
		margin-top: 25px;
		padding: 1rem;
		outline: 0;
		transition: 0.5s;
		align-self: self-end;
	}

	.page-template-talents #three {
		display: block;
		padding: 20vh 8vw 0 8vw;
	}

	.page-template-talents .two-columns-text {
		display: flex;
		flex-direction: column;
		margin-bottom: 10vh;
		padding-top: 0;
		padding-bottom: 0;
	}

	.page-template-talents .two-columns-text .header {
		font-size: 48px;
		line-height: 52.8px;
	}

	.page-template-talents #three .switch {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 5vh 0;
	}

	.page-template-talents #three .switch button:nth-child(1) {
		margin-right: 5%;
	}

	.page-template-talents #three .switch button:nth-child(2) {
		margin-left: 5%;
	}

	.page-template-talents #three .switch button {
		padding: 10%;
		border-radius: 1rem;
		border: 0;
		background-color: #F5F9FA;
		outline: 0;
		cursor: pointer;
	}

	.page-template-talents #three .switch button h5 {
		font-size: 14px;
		line-height: 14px;
	}

	.page-template-talents #three .scroll-line {
		margin-top: 0;
	}

	.page-template-talents #three .scroll-line .element {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		margin-top: 50px;
	}

	.page-template-talents #three .scroll-line .element .left {
		border-radius: 3rem;
		height: auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		margin-bottom: 0;
	}

	.page-template-talents #three .scroll-line .element .right {
		border-left: 0;
		padding-left: 8vw;
		padding-right: 8vw;
	}

	.page-template-talents #three .block {
		margin: 50px 0;
		width: 100%;
		height: 350px;
		border-radius: 3rem;
		padding-top: 10%;
		padding-left: 10%;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}

	.page-template-talents .color-blocks {
		flex-direction: column;
		display: flex;
	}

	.page-template-talents #threeMobile {
		display: none;
		height: 8702px;
		width: 100vw;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.page-template-talents .block .arrow-icon {
		margin-top: 0;
		width: 100%;
	}

	.page-template-talents #threeMobile .scroll-line .element {
		display: flex;
		flex-direction: column;
		margin-top: 30vh;
		background-color: white;
		border-radius: 3rem;
		padding: 5%;
		background: linear-gradient(transparent, #ffffff, transparent);
	}
	
	.page-template-talents #threeMobile .scroll-line .element .left {
		border-radius: 3rem;
		height: 30vh;
	}
	
	.page-template-talents #threeBmobile .scroll-line .element .right {
		border-left: 10px solid grey;
		padding-left: 5%;
	}

	.page-template-talents #threeMobile .scroll-line .element:nth-child(1) {
		margin-top: 22vh;
	}

	.page-template-talents #four .block {
		margin: 50px 0;
		width: 100%;
		height: 40vh;
		border-radius: 3rem;
		padding-top: 10%;
    	padding-left: 10%;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: 1fr 1fr 1fr 1fr;
		color: #000000;
	}

	.page-template-talents #five .section-title {
		margin-bottom: 10vh;
		width: 100%;
	}

	.page-template-talents #five .grid-3 {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow-x: auto;
	}

	.page-template-talents #five .grid-3>div {
		margin-right: 15vw;
	}

	.page-template-talents #five .grid-3 .title {
		padding: 0;
	}

	.page-template-talents #six {
		padding: 0 8vw;
	}

	.page-template-talents #six .carousel-cell {
		background-color: #E8E9E9 !important;
		border-radius: 3rem;
		width: 100%;
		height: auto;
		margin-right: 10px;
		counter-increment: carousel-cell;
	}

	.page-template-talents #six .post-carousel-header a {
		display: none;
	}

	.page-template-talents #seven {
		display: grid;
		grid-template-columns: 1fr;
		scroll-margin-top: 10vh;
		padding: 10vh 8vw;
	}

	.page-template-talents #seven li>ul {
		margin-top: 5vh;
		margin-bottom: 0;
		margin-left: 0;
	}

	.page-template-talents #seven .bzOpening a {
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: nowrap;
		align-items: flex-start;
		padding: 5% 0;
	}

	.page-template-talents #seven .bzButtonApply {
		background-color: transparent;
		border: 0;
		border-color: transparent;
		border-radius: 50px;
		color: #28B9DA;
		line-height: 1rem;
		padding: 1em 0;
		cursor: pointer;
		transition: 0.5s;
	}

	.page-template-talents #six .previous, 
	.page-template-talents #eight .previous {
		margin-left: 0;
	}

	.two-columns-text-narrow {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 50px;
		padding: 0;
	}

	.page-template-talents #nine {
		padding: 10vh 0 20vh 0;
	}

	.page-template-talents #nine .header {
		width: 50%;
	}

	.page-template-talents #nine a {
		font-size: 20px;
	}

	.page-template-talents #nine img {
		margin-top: 50px;
		max-width: 100%;
	}

	/* About */

	.page-template-about .hero-text {
		grid-column-start: 1;
		grid-column-end: 9;
	}

	.page-template-about #two {
		padding: 0;
	}

	.page-template-about #two img {
		border-radius: 0;
	}

	.page-template-about #blockScroll {
		position: relative;
		padding: 10vh 0;
	}

	.page-template-about #blockScroll .point {
		top: 5vh !important;
		height: 100vh;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
	}

	.page-template-about .point article {
		flex-basis: 50%;
		margin-right: 8vw;
		margin-left: 8vw;
	}

	.page-template-about .point img {
		flex-basis: 0;
		max-width: 100vw;
		height: auto;
	}

	.page-template-about #six {
		padding: 2vh 0 0 0;
	}

	.page-template-about #eight {
		padding: 5vh 8vw 20vh 8vw;	
	}

	.grid-5 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		column-gap: 5%;
		row-gap: 5%;
	}

	.grid-5>div {
		margin: 1%;
		width: 100%;
	}

	.page-template-about #nine .two-columns-text {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding-top: 0;
		padding-bottom: 5vh;
	}

	.page-template-about #nine .paragraph {
		margin-top: 0;
		width: 100%;
	}

	.page-template-about .scroll-line .element {
		display: flex !important;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.page-template-about .scroll-line .element .left {
		border-radius: 3rem;
		height: 30vh;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 0;
	}

	.page-template-about .scroll-line .element .right {
		border-left: none;
		padding-left: 0;
		padding-top: 5vh;
		padding-bottom: 10vh;
	}

	.page-template-about section {
		width: 100vw;
		height: auto;
		padding: 5vh 8vw;
	}

	.page-template-about #scrollLine .element {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-bottom: 5vh;
	}

	.page-template-about #scrollLine .element .left {
		border-radius: 3rem;
		height: 50vh;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 2vh;
	}

	.page-template-about #scrollLine .element .right {
		border-left: 0;
		padding-left: 0;
		padding-top: 0;
	}

	.page-template-about .grid-3 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.page-template-about .grid-3>div {
		margin: 5vh 0;
	}

	/* Archive - Success Stories */

	.archive #hero .hero-text {
		grid-column-start: 2;
		grid-column-end: 8;
	}

	.archive .site-main {
		padding: 5vh 8vw;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		row-gap: 5vh;
	}

	/* Post - Success Stories */

	.single article .entry-header {
		grid-column-start: 1;
		grid-column-end: 9;
	}

	.single .client {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.single .client .type {
		text-transform: capitalize;
		margin-left: 0;
		margin-top: 2rem;
	}

	.single article .post-thumbnail {
		grid-column-start: 1;
		grid-column-end: 9;
		margin: 10vh 0;
	}

	.column-3 {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-columns: auto;
		row-gap: 10vh;
		margin: 0;
	}

	.column-4 {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 5vh;
		margin-top: 5vh;
		margin-bottom: 20vh;
	}

	.column-4 .header {
		margin-bottom: 5px;
	}

	.single article .sublines,
	.single article .outro,
	.single article .outro .paragraph {
		margin: 0;
	}

	.single article #relatedInsights {
		margin-top: 10vh;
	}

	#relatedInsights .grid-3 {
		padding: 5vh 0;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		row-gap: 5vh;
	}

	.single article {
		border-radius: 3rem;
		padding: 20vh 8vw 5vh 8vw;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		column-gap: 20px;
	}

	.single-success-stories #relatedInsights {
		display: none;
	}

	.single article .testimonial {
		margin: 5vh 0;
	}

	.single article .testimonial-card {
		border-radius: 3rem;
		width: 100%;
		height: auto;
	}

	.single article .testimonial-card .inner {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.single article .testimonial-card .inner > div {
		margin: 1.5vh 0;
	}

	.single article .testimonial-card .inner .quote {
		padding: 10% 15%;
	}

	.single article .testimonial-card .inner .quote .testimonial-info {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.single article .testimonial-card .inner .quote .testimonial-info > div {
		margin: 10px 0;
	}

	.single article .testimonial-card .inner .quote .testimonial-info .company {
		display: grid;
		place-items: flex-start;
	}

	.single article .testimonial-card .inner .quote .testimonial-info .company img {
		width: 30%;
	}

	/* Archive - Insights */

	.post-type-archive-insights article .event-cover {
		grid-column-start: 1;
		grid-column-end: 9;
		height: 30vh;
	}

	.post-type-archive-insights article .event-header {
		grid-column-start: 1;
		grid-column-end: 9;
		padding: 5% 0 0 0;
	}

	.post-type-archive-insights article .event-header .excerpt {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.post-type-archive-insights .flickity-button {
		position: absolute !important;
		margin-right: 8vw;
		margin-top: -5vh;
		background: transparent;
	}

	.post-type-archive-insights .flickity-prev-next-button.previous {
		left: 8vw;
	}

	.flickity-prev-next-button.next {
		left: 22vw;
	}

	.alm-reveal {
		margin-top: 5vh;
		padding: 0 8vw;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.alm-reveal > article {
		width: 100% !important;
		margin: 2% !important;
	}

	.post-type-archive-insights .site-main {
		padding: 5vh 8vw;
		display: flex;
		flex-direction: column;
	}

	.post-type-archive-insights article {
		height: auto;
		margin-bottom: 2.5vh;
	}

	.post-type-archive-insights article .event-header {
		grid-column-start: 1;
		grid-column-end: 9;
		padding: 4vh;
	}

	/* Post - Insights */

	.post-type-archive-insights #hero {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		column-gap: 20px;
		padding-top: 10vh;
	}

	.post-type-archive .post-carousel .carousel-cell {
		width: 100%;
		height: 100vh;
		margin-right: 10px;
		border-radius: 5px;
		counter-increment: carousel-cell;
		display: flex;
    	flex-direction: column;
		/* display: grid;
		grid-template-columns: repeat(8, 1fr); */
		padding: 0;
	}

	.single article .post-thumbnail {
		grid-column-start: 1;
		grid-column-end: 9;
		margin: 0;
	}

	.single-insights .column-3 {
		display: flex;
		flex-direction: column;
		margin: 0;
		row-gap: 0;
	}

	.column-3 .header {
		width: 100%;
		margin-bottom: 40px;
	}

	.single-insights #relatedInsights .section-header a {
		display: none;
	}

	/* Contact */

	.page-template-contact #one .hero-text {
		grid-column-start: 1;
		grid-column-end: 9;
	}

	.page-template-contact #eleven .grid-3 {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
	}

	.page-template-contact form input, 
	.page-template-contact form textarea {
		color: #383E4E;
		border: 1px solid #E4EAEB;
		border-radius: 1.5rem;
		padding: 20px 36px;
		width: calc(100vw - 16vw);
	}

	.page-template-contact form input[type="submit"] {
		width: calc(100vw - 16vw);
		border-radius: 1rem;
		background-color: #28B9DA;
		color: #ffffff;
	}

}