/*--------------------------------------------------------------
# Post
--------------------------------------------------------------*/

.single .entry-header {
	display: block;
}

.single-success-stories p, 
.single-insights p {
	margin-block-start: 30px;
}

.single article {
	padding: 20vh 8vw;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 20px;
}

.single #relatedInsights article {
	padding: 1vh;
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 20px;
}

.single article .entry-header {
	grid-column-start: 3;
	grid-column-end: 7;
}

.single article .entry-content {
	grid-column-start: 1;
	grid-column-end: 9;
	padding: 0 5%;
}

.single .intro {
	margin-top: 30px;
	margin-bottom: 25px;
}

.single .tag,
.single .date {
	text-transform: capitalize;
	margin-bottom: 0;
}

.single .client {
	text-transform: capitalize;
	margin-top: 20px;
}

.single .client span {
	font-size: 18px;
	line-height: 30px;
}

.post-type-archive-insights .type {
	margin-top: 30px;
}

.post-type-archive-insights #hero .type #bullet {
	font-size: 28px;
	line-height: 30px;
	vertical-align: sub;
	color: #28B9DA;
	opacity: 0.6;
}

.post-type-archive-insights .type span {
	font-size: 18px;
	line-height: 30px;
}

.single .client .client-inner {
	text-transform: capitalize;
	margin-right: 50px;
}

.single .client .type {
	text-transform: capitalize;
}

.single .client .type #bullet {
	color: #28B9DA;
}

.single .intro p:nth-child(1) {
	margin-block-end: 30px;
}

.single .intro p:nth-child(3) {
	color: #c4c4c4;
}

.single .client span:nth-child(1) {
	color: #c4c4c4;
}

.single article .post-thumbnail {
	grid-column-start: 1;
	grid-column-end: 9;
	margin: 10vh 0;
}

.single-insights article .post-thumbnail {
    grid-column-start: 1;
    grid-column-end: 9;
    margin: 0;
}

.single article .post-thumbnail img {
	border-radius: 70px;
	width: 100%;
}

.column-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 5%;
	margin: 0;
}

.column-3 .header {
	width: 50%;
	margin-bottom: 40px;
}

.column-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 5%;
	margin-top: 10vh;
    margin-bottom: 20vh;
}

.column-4 .header {
	margin-bottom: 15px;
}

.single article .sublines {
	margin: 10vh 20vh;
}

.single article .sublines .header {
	margin-bottom: 15px;
}

.single article .outro {
	margin: 10vh 0;
}

.single article .outro .paragraph {
	margin: 0 20vh;
}

.single article .outro .image {
	margin: 10vh 0;
	border-radius: 70px;
}

/* Success Story */

.single-success-stories .date,
.single-reference-projects .date {
	display: none;
}

.single article .testimonial {
	margin: 10vh 8vw;
}

.single article .testimonial-card {
    border-radius: 2rem;
    width: 100%;
    height: 40vh;
}

.single article .testimonial-card .inner {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
}

.single article .testimonial-card .inner .image {
    height: 40vh;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    border-radius: 2rem;
}

.single article .testimonial-card .inner .quote {
    background-color: #F5F9FA !important;
    border-radius: 2rem;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.single article .testimonial-card .inner .quote .testimonial-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
}

.single article .testimonial-card .inner .quote .testimonial-info .testimonial_position {
    color: #A6B7BD;
}

.single article .testimonial-card .inner .quote .testimonial-info .company {
    display: grid;
    place-items: flex-end;
}

.single article .testimonial-card .inner .quote .testimonial-info .company img {
    width: 20%;
}

.single-success-stories .main-section-success-stories,
.single-insights .main-section-insights,
.single-reference-projects .main-section-reference-projects  {
	margin: 5vh 8vw;
}

.single-success-stories .main-section-success-stories p,
.single-insights .main-section-insights p,
.single-reference-projects .main-section-reference-projects p {
	/* margin: 5vh 0; */
}

.single-success-stories #relatedInsights,
.single-reference-projects #relatedInsights {
	display: none;
}

.single-insights .column-3 {
    display: none;
}

.single-success-stories .main-section-insights,
.single-success-stories .main-section-press,
.single-success-stories .main-section-reference-projects {
	display: none;
}

.single-insights .main-section-success-stories,
.single-insights .main-section-press,
.single-insights .main-section-reference-projects {
	display: none;
}

.single-reference-projects .main-section-success-stories,
.single-reference-projects .main-section-press,
.single-reference-projects .main-section-insights {
	display: none;
}

#relatedInsights .event-header .bottom {
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: flex-end;
}

#relatedInsights .event-header h5 a {
    font-family: 'Inter', sans-serif !important;
    font-size: 28px;
    line-height: 22px;
}

#relatedInsights .event-header .top .type {
    margin-top: 1rem;
    color: #383E4E;
    opacity: 0.6;
    font-size: 18px;
    line-height: 30px;
}

#relatedInsights .event-header .bottom p {
    margin-top: 0;
    color: #383E4E;
    opacity: 0.6;
    font-size: 18px;
    line-height: 30px;
}
