/*--------------------------------------------------------------
# Simple Text
--------------------------------------------------------------*/

.page-template-simple-text section {
	padding: 20vh 8vw 10vh 8vw;
}

.page-template-simple-text .entry-title {
	margin-bottom: 73px;
}

.page-template-simple-text .hero-text {
	margin-bottom: 73px;
}

.page-template-simple-text .hero-text h3 {}

.page-template-simple-text .hero-text p {
	margin-block-end: 30px;
}

/*--------------------------------------------------------------
# Simple Text
--------------------------------------------------------------*/