/*--------------------------------------------------------------
# Talents
--------------------------------------------------------------*/

.page-template-talents #three,
.page-template-talents #four,
.page-template-talents #five,
.page-template-talents #six,
.page-template-talents #jobs,
.page-template-talents #eight,
.page-template-talents #nine {
	background-color: #ffffff !important;
}

.page-template-talents {
	background-color: #ffffff;
	transition: background-color 0.5s cubic-bezier(.72,.01,.26,.99);
}

.color-lighter-blue {
	background-color: #F1FBFD;
  }

.color-white {
	background-color: #ffffff;
}

.page-template-talents {
	overflow-x: hidden;
}

.page-template-talents .two-columns-list {
	column-gap: 0;
}

.page-template-talents #four .section-title {
	width: 50%;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 15vh;
	z-index: 100;
}

.page-template-talents #four .two-columns-list,
.page-template-talents #jobs .two-columns-list {
	margin-top: -5vh;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 25px;
}

.page-template-talents .two-columns-list ul,
.page-template-talents #bzOpeningsContainer {
	grid-column-start: 5;
    grid-column-end: 9;
}

.page-template-talents .two-columns-list ul li {
	margin-top: 5vh;
	margin-bottom: 5vh;
	border-bottom: 1px solid rgba(24, 34, 28, 0.15);
}

.page-template-talents #four .two-columns-list ul li {
	margin-top: 5vh;
	margin-bottom: 5vh;
	border-bottom: 1px solid rgba(24, 34, 28, 0.15);
	margin-right: 20%;
}

.page-template-talents .two-columns-list ul li .paragraph-list {
	margin-bottom: 5vh;
}

.page-template-talents .two-columns-list ul li:nth-child(1) {
	margin-top: 0;
}

.page-template-talent .grid-3>div {
    margin: 1%;
    padding: 10% 0;
}

.page-template-talents section {
	width: 100vw;
	height: auto;
	padding: 0 8vw;
}

.page-template-talents #one {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 20px;
	padding: 20vh 8vw 10vh 8vw;
}

.page-template-talents #two {
	padding: 0 8vw;
}

.page-template-talents .hero-text {
	grid-column-start: 3;
	grid-column-end: 7;
	padding-right: 0;
}

.page-template-talents .paragraph {
	margin-top: 50px;
}

.page-template-talents #one .block {
	margin: 50px 0;
	width: 300px;
    max-width: 300px;
    height: 300px;
	border-radius: 30px;
	padding: 5%;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	transition: 0.5s;
}

.page-template-talents .block .header-block,
.page-template-talents .block .paragraph-block {
	color: #ffffff;
}

.page-template-talents .block .header-block {
	font-weight: bold;
	margin-bottom: 20px;
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 1;
	grid-row-end: 2;
}

.page-template-talents .block .paragraph-block {
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 2;
	grid-row-end: 3;
}

.page-template-talents .two-columns-text {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 35px;
	padding-top: 10vh;
	padding-bottom: 0;
	margin-bottom: 0;
}

.page-template-talents .two-columns-text .header {
	font-size: 80px;
	line-height: 100px;
	margin-right: 0;
}

.page-template-talents .two-columns-text .paragraph {
	margin-top: 0;
}

.page-template-talents .color-blocks {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2vh;
}

.page-template-talents .color-blocks img {
	width: 230px;
	float: right;
	margin-right: -20%;
	margin-top: -25%;
}

.page-template-talents .color-blocks .info .paragraph {
	margin-top: 25px;
}

.page-template-talents .color-blocks .left {
	background-color: #B8E9F4;
	border-radius: 30px;
	padding: 5%;
	margin: 10% 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	max-height: 70%;
	height: 70%;
}

.page-template-talents #two .color-blocks .left .info {
	margin-right: 0;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
	width: 80%;
}

.page-template-talents .color-blocks .right {
	background-color: #F1FBFD;
	border-radius: 30px;
	padding: 5%;
	margin: 10% 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	max-height: 70%;
	height: 70%;
}

.page-template-talents .color-blocks .right .info {
	margin-right: 0;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
	width: 80%;
}

.page-template-talents .color-blocks .info .paragraph {
	margin-top: 25px;
}

.page-template-talents .color-blocks .label {
	grid-column-start: 1;
	grid-row-start: 1;
	align-self: self-start;
}

.page-template-talents .color-blocks img {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 1;
	margin-top: -30%;
	width: 330px;
}

.page-template-talents .color-blocks #blockButton {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    height: 55px;
    margin: 0;
    color: #ffffff;
    border: 0;
    border-radius: 13px;
	padding: 1rem auto;
    outline: 0;
    transition: 0.5s;
    align-self: flex-end;
    width: auto;
}

.page-template-talents #three {
	display: block;
	padding: 5vh 8vw;
}

.page-template-talents #three .switch {
	height: 88px;
	max-width: 1680px;
	margin: 5vh auto 0 auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 0;
	border: 1px solid #F5F9FA;
}

.page-template-talents #three .switch button {
	border: 0;
	border-radius: 30px;
	outline: 0;
	padding: 1rem;
	cursor: pointer;
}

.switch-blue {
	background-color: #F5F9FA;
}

.switch-blue h5 {
	color: #000000;
}

.switch-white {
	background-color: #ffffff;
}

.switch-white h5 {
	color: #D2DBDE;
}

.page-template-talents #three .switch button h5 {
	font-size: 25px;
}

.page-template-talents #three .block {
    margin: 50px 0;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    padding-top: 5%;
    padding-left: 5%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.page-template-talents #four {
	padding: 0 8vw 10vh 8vw;
}

.page-template-talents #four .block {
	margin: 50px 0;
	width: 300px;
    max-width: 300px;
    height: 300px;
	border-radius: 30px;
	padding: 5%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	color: #000000;
	transition: 0.5s;
}

.page-template-talents #four .block .header-block,
.page-template-talents #four .block .paragraph-block {
	color: #000000;
}

.page-template-talents #five {
	padding-bottom: 20vh;
}

.page-template-talents #eight {
	padding: 0 8vw 10vh 8vw;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 25px;
}

.two-columns-text-narrow {
	grid-column-start: 2;
	grid-column-end: 8;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 25px;
}

.two-columns-text-narrow .header {
	font-size: 80px;
	line-height: 100px;
}

.two-columns-text-narrow .paragraph {
	margin-top: 0;
}

.two-columns-text-narrow .paragraph p {
	margin-block-end: 32px;
}

.page-template-talents .grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	row-gap: 10%;
	column-gap: 10%;
	text-align: center;
	padding: 10vh 0 5vh 0;
}

.page-template-talents .section-title {
	width: 25%;
}

.page-template-talents .grid-3 .title {
	padding: 5% 0;
}

.page-template-talents #four .section-title {
	width: 100%;
}

.page-template-talents #four #blockButton {
	background-color: #28B9DA;
	padding: 1rem 2rem;
}

.page-template-talents .two-columns-list ul li:nth-child(5) {
	border-bottom: 0 !important;
}

.page-template-talents #six {
	padding: 0 0 10vh 0;
}

.page-template-talents .post-carousel {
	margin-top: 50px;
}

.page-template-talents .post-carousel-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-right: 8vw;
	padding-left: 8vw;
}

.page-template-talents .post-carousel-header a {
	display: flex;
    flex-direction: row;
    place-items: center;
    color: #28B9DA;
	justify-self: end;
	align-self: center;
	-webkit-transition: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
	transition: all 300ms cubic-bezier(0.72, -0.01, 0.26, 0.99);
}

.page-template-talents #six .flickity-viewport {
	height: 500px;
}

.page-template-talents #six .carousel-cell {
	background-color: #F5F9FA !important;
    width: 450px;
	height: 450px;
    margin-right: 10px;
    counter-increment: carousel-cell;
    overflow: hidden;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    display: grid;
	grid-template-rows: 250px 50%;
}

.page-template-talents #six .event-header .type {
    margin-bottom: 1.5rem;
    color: #383E4E;
    opacity: 0.6;
}

.page-template-talents #six .previous,
.page-template-talents #eight .previous {
	margin-left: 8vw;
}

.page-template-talents #six article .event-header {
	padding: 5% 10% 10% 10%;
}

.page-template-talents #six article .event-cover img {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	border-top-left-radius: 30px;
    border-top-right-radius: 30px;
	display: block;
}

.page-template-talents #jobs {
	padding-top: 0;
	padding-bottom: 5vh;
	display: grid;
	scroll-margin-top: 10vh;
}

.page-template-talents #jobs .section-title {
	padding: 0; 
	position: -webkit-sticky; 
	position: sticky; 
	top: 12vh;
	/* z-index: 1000; */
}

/* Breezy Embed */

.page-template-talents #jobs li>ul {
	margin-bottom: 0;
	margin-left: 0;
}

.page-template-talents .bzOpeningsCategory {
	margin-top: 10%;
}

.page-template-talents .bzOpeningsCategory:hover {
	text-decoration: none;
	cursor: default;
}

.page-template-talents .bzOpeningsCategory:nth-child(1) {
	margin-top: 0;
}

.page-template-talents .bzCategory {
	font-size: 48px;
	line-height: 52.8px;
}

.page-template-talents .bzCategory:hover {
	text-decoration: none;
	cursor: default;
}

.page-template-talents #jobs .bzOpening {
	padding: 5% 0;
	border-bottom: 1px solid rgba(24, 34, 28, 0.15);
}

.page-template-talents #jobs .bzOpening:nth-last-child(1) {
    padding: 5% 0;
    border-bottom: none;
}

.page-template-talents #jobs .bzOpening:hover {
	text-decoration: none !important;
	cursor: default !important;
}

.page-template-talents #jobs .bzOpening a {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	align-items: center;
	padding: 5% 0;
}

.page-template-talents #jobs .bzButtonApply {
	width: 30%;
	font-size: 16px;
}


.page-template-talents #jobs .bzOpening a:hover {
	text-decoration: none;
	cursor: default;
}

.page-template-talents #jobs .bzOpening a .bzMeta {
	display: none;
}

.page-template-talents #jobs .bzOpening h2 {
	font-family: 'Inter' !important;
	font-size: 28px;
	line-height: 33.6px;
	font-weight: normal;
	color: #000000;
	width: 100%;
}

.page-template-talents #jobs .bzOpening a:hover {
	text-decoration: none;
	cursor: default;
}

.page-template-talents #jobs .bzButtonApply {
	background-color: transparent;
	border: 0;
	border-color: transparent;
	border-radius: 50px;
	color: #28B9DA;
	line-height: 1rem;
	padding: 0.6em 1em;
	cursor: pointer;
	transition: 0.5s;

	width: 80%;
}

.page-template-talents #nine {
	padding: 0 0 5vh 0;
}

.page-template-talents #nine img {
	margin-top: 50px;
}

.page-template-talents #nine h1,
.page-template-talents #nine p {
	padding: 0 8vw;
}

.page-template-talents #nine .header,
.page-template-talents #nine a {
	padding: 0 8vw;
	transition: 0.5s;
}

.page-template-talents #nine a {
	font-size: 20px;
}

/* Talents Timeline Left */

.page-template-talents #three #scrollLineLeft {
	max-width: 1440px;
	margin: 15vh auto;
}

.page-template-talents #three #scrollLineLeft .element {
    display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 25px;
	height: 400px;
	max-width: 1440px;
}

.page-template-talents #three #scrollLineLeft .element .left {
	opacity: 0;
    border-radius: 2rem;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
	margin-bottom: 0;
	
	grid-column-start: 1;
	grid-column-end: 4;
}

.page-template-talents #three #scrollLineLeft .element .right {
	width: 100%;
	background-image: linear-gradient(to bottom, #D7DFEB, #D7DFEB);
	grid-column-start: 4;
	grid-column-end: 9;
	padding-left: 3px;
	margin-left: 10%;
	width: 45vw;
}

.page-template-talents #three #scrollLineLeft .element:nth-child(6) .right {
	padding-left: 0 !important;
}

.page-template-talents #three #scrollLineLeft .element:nth-child(6) .right .blueDot{
	transform: translate(-6.5px, 0);
}

.page-template-talents #three #scrollLineLeft .element:nth-last-child(1),
.page-template-talents #three #scrollLineRight .element:nth-last-child(1) {
	height: 40vh;
}

.page-template-talents.animatedline  {
	background-color: lightgrey;
	width: 10px;
	height: 100%;
	float: left;
}

.page-template-talents .textBlock {
	height: 100%;
	background-color: white;
	padding-left: 10%;
}

.page-template-talents .textBlock h5 {
	color: #D7DFEB;
	margin-top: 32px;
	margin-bottom: 32px;
}

.blueDot {
	height: 16px;
	width: 16px;
	position: absolute;
	transform: translate(-9px, 0);
}

.textAppear {
	opacity: 0.1;
}

.page-template-talents #scrollLineLeft .timeline-block,
.page-template-talents #scrollLineRight .timeline-block {
	grid-column-start: 5;
	grid-column-end: 9;
}

.page-template-talents #scrollLineLeft .block {
	margin-top: 0;
	/* margin-left: 45vw; */
    width: 300px;
    max-width: 300px;
    height: 300px;
    border-radius: 30px;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background-color: #383e4e;
	transition: 0.5s;
}

/* Talents Timeline Right */

.page-template-talents #three #scrollLineRight {
	display: none;
	max-width: 1680px;
	margin: 15vh auto;
}

.page-template-talents #three #scrollLineRight .element {
    display: grid;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 25px;
	height: 400px;
}

.page-template-talents #three #scrollLineRight .element .left {
	opacity: 0;
}

.page-template-talents #three #scrollLineRight .element .left {
    border-radius: 2rem;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
	margin-bottom: 0;
	
	grid-column-start: 1;
	grid-column-end: 4;
}

.page-template-talents #three #scrollLineRight .element .right {
	width: 100%;
	background-image: linear-gradient(to bottom, #D7DFEB, #D7DFEB);
	grid-column-start: 4;
	grid-column-end: 9;
	padding-left: 3px;
	margin-left: 10%;
	width: 45vw;
}

.page-template-talents #three #scrollLineRight .element:nth-child(5) .right {
	padding-left: 0 !important;
}

.page-template-talents #three #scrollLineRight .element:nth-child(5) .right .blueDot{
	transform: translate(-6.5px, 0);
}

.animatedline  {
	background-color: lightgrey;
	width: 10px;
	height: 100%;
	float: left;
}

.textBlock {
	height: 100%;
	background-color: white;
	padding-left: 5%;
}

.textBlock h2 {
	color: #D7DFEB;
}

.page-template-talents .blueDot {
	height: 16px;
	width: 16px;
	position: absolute;
	transform: translate(-9px, 0);
}

.svgDot {
	fill: #ffffff;
	stroke: #D7DFEB;
}

.textAppear {
	opacity: 0.1;
}

.page-template-talents #scrollLineRight .block {
	margin-top: 5vh;
	/* margin-left: 45vw; */
    width: 300px;
    height: 300px;
    border-radius: 30px;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background-color: #383e4e;
	transition: 0.5s;
}