* {
	margin: 0;
	padding: 0;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

main {
	display: block;
}

/* Typography
--------------------------------------------- */

h1,
p {
	margin: 0;
	margin-block-start: 0;
}

p {
	margin: 0;
	margin-block-start: 0;
	font-size: 20px;
	line-height: 32px;
}

h1 {
	font-size: 70px;
	line-height: 70px;
}

h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 58px;
	line-height: 64px;
}

h3 {
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 53px;
}

h5 {
	font-size: 28px;
	line-height: 33.6px;
	font-weight: normal;
	color: #000000;
	font-family: 'Inter', sans-serif !important;
}

.event-header h5 {
    font-family: 'Inter', sans-serif !important;
}


button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

.form button:hover {
	opacity: 0.5 !important;
}

#blueWord {
	color: #28B9DA;
}

#bullet {
	font-size: 1.5rem;
	margin-right: 10px;
	opacity: 0.8;
}

#bulletCategory {
	font-size: 1.5rem;
	margin-right: 10px;
	opacity: 0.8;
}

#checkbox {
	margin-right: 16px;
	opacity: 0.8;
}

.checked {
	fill: #2BBADB;
}

.previous svg path{
	d: path("M8.60916 16.4741L9.71405 15.3692L3.795 9.37126L20.4473 9.37126L20.4473 7.79285L3.795 7.79285L9.71405 1.79487L8.60917 0.689985L0.717097 8.58205L8.60916 16.4741Z");
	transform: scale(5) !important;
	color: #000000 !important;
}

.next svg path{
	d: path("M12.5549 0.974365L11.45 2.07925L17.3691 8.07723H0.716797V9.65564H17.3691L11.45 15.6536L12.5549 16.7585L20.447 8.86643L12.5549 0.974365Z");
	transform: scale(5) !important;
	color: #000000 !important;
}

.flickity-prev-next-button .flickity-button-icon {
	position: absolute !important;
	left: 35% !important;
	top: 30% !important;
	width: 15px !important;
	height: auto !important;
}
/* Links
--------------------------------------------- */
a {
	color: #000000;
}

a:visited {
	color: #000000;
}

a:hover,
a:focus,
a:active {
	color: #000000;
	text-decoration: underline;
}

a:focus,
a:hover,
a:active {
	outline: none;
}

a:-webkit-any-link {
	color: #000000;
	cursor: pointer;
	text-decoration: none;
}

/* Lists
--------------------------------------------- */

ul {
	display: block;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0;
}

li:hover {
	text-decoration: underline;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

#blockButton {
	margin: 5% 0;
	color: #ffffff;
	border: 0;
	border-radius: 13px;
	padding: 1rem;
	outline: 0;
	transition: 0.5s;
}

#blockButton:hover {
	opacity: 0.5;
	cursor: pointer;
}

.color-blocks .left #blockButton {
	background-color: #28B9DA;
}

.color-blocks .left #blockButton:hover {
	background-color: #383E4E;
}

.color-blocks .right #blockButton {
	background-color: #383E4E;
}

.color-blocks .right #blockButton:hover {
	background-color: #28B9DA;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/